body{
    font-family: 'Special Elite', cursive;
    background-color: rgb(186, 226, 43);
}
.header_div{
    color: chocolate;
    background-color: rgb(230, 205, 105);
}
.header_div img{
    width:100px;

}
.main_div {
    background-color: cyan;
    padding: 10px;
    margin-top :15px;
    border:3px solid chartreuse;
}
.main_div label{
    background-color: whitesmoke;
    width:310px;
    padding:10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px rgb(17, 17, 17);
}
#camera, #result{
    border:2px solid chartreuse;
    width:310px;
    height: 300px;
    box-shadow: 5px 5px 18px rgb(17, 17, 17);
}
.main_div button{
    width:310px;
    font-size:16px;
    box-shadow:5px 5px 18px rgb(17, 17, 17) ;
    border:1px solid;
}
.footer_div{
    margin-bottom: 50px;
}
.footer_div h4{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px rgb(17, 17, 17);
}
.footer_div img{
    width:70px;
}
.copy_right_footer{
    position: fixed;
    color: gray;
    bottom: 0;
    width: 100%;
    background-color: ghostwhite;
    line-height: 3;
    text-align: center;
}
.copy_right_footer sup{
    font-size: 20px;;
}